.submittedApplication{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.requests{
    display: flex;
    flex-wrap: wrap;
}

.request{
    width: 25vw;
    height: 25vh;
    margin: 5px;
}