table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.control-panel{
    display: flex;
    justify-content: space-between;
    vertical-align: center;}

.control-panel >*{
   
}

.crud-persons {
    width: 90%;
    margin: auto;
}
.persons-table{
    display: flex; 
    justify-content: center;
}

.persons-container{
}