body,
html {
    padding: 0;

}

mat-card{
    background-color: #eae9f5;
}

mat-form-field {
    width: 100%;
}

mat-card-actions {
    padding: 0 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

mat-progress-bar {
    bottom: 0;
    position: absolute;
}

.authorization {
    display: flex;
    justify-content: center;
}

.authorization-card {
    width: 55vmin;
    min-height: 16vw;
}

.authorization-card-content {
    margin-left: 2vh;
}