<h2 mat-dialog-title>Изменение пароля</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Новый пароль</mat-label>
    <input matInput [type]="hidePassword ? 'password': 'text'" [formControl]="newPassword">
    <button matSuffix mat-icon-button (click)="hidePassword = !hidePassword">
      <mat-icon *ngIf="hidePassword" >visibility</mat-icon>
      <mat-icon *ngIf="!hidePassword">visibility_off</mat-icon>
  </button>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false">Отмена</button>
  <button mat-button [mat-dialog-close]="newPassword.value" [disabled]="newPassword.hasError('required')">Изменить</button>
</mat-dialog-actions>