<div class="personal-account">
    <div class="personal-area">
        <div class="user-icon">
            <img width="300px" src="/assets/icons/qwe.png" style="margin: 1.5vh 0;">
        </div>
        <div class="personal-info">
            <h2>Личные данные</h2>
            <mat-form-field>
                <mat-label>Имя</mat-label>
                <input matInput type="name" [formControl]="userName">
                <button matSuffix mat-icon-button aria-label="Edit" disabled="{{true}}">
                    <mat-icon>edit</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Фамилия</mat-label>
                <input matInput type="surname" disabled="{{true}}">
                <button matSuffix mat-icon-button aria-label="Edit" disabled="{{true}}">
                    <mat-icon>edit</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Отчество</mat-label>
                <input matInput type="lastname" disabled="{{true}}">
                <button matSuffix mat-icon-button aria-label="Edit" disabled="{{true}}">
                    <mat-icon>edit</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Электронная почта</mat-label>
                <input matInput type="email" disabled="{{true}}">
                <button matSuffix mat-icon-button aria-label="Edit" disabled="{{true}}">
                    <mat-icon>edit</mat-icon>
                </button>
            </mat-form-field>
            <div align="end" style="margin-top: 2.5vh;">
                <button mat-button disabled="{{true}}">Сохранить</button>
            </div>
        </div>
    </div>
</div>