mat-card:hover{
    background-color: aliceblue;
}

.submittedApplication{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.requests{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.request{
    width: 25vw;
    height: 25vh;
    margin: 5px;
}