<div class="users-list">
    <div>
        <div class="control-panel">
            <h2>Пользователи:</h2>
            <div style="margin-top: 2vh;">
                <button mat-mini-fab color="primary"><mat-icon>add</mat-icon></button>
            </div>
        </div>

        <div class="users-table">
            <mat-accordion class="example-headers-align">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title style="text-align: center;">
                            {{user.name}} {{user.surname}}
                        </mat-panel-title>
                        <mat-panel-description>
                            {{user.email}}
                            <img *ngIf="user.roleId == 1" width="20" src="assets/icons/employee.png">
                            <img *ngIf="user.roleId == 2" width="30" src="assets/icons/systemAdministrator.png">
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="expansion-description">
                        <div>
                            <h4>Контактная информация</h4>
                            <mat-form-field appearance="fill">
                                <mat-label>Имя</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Фамилия</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Отчество</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Эл. почта</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div>
                            <h4>Входные данные:</h4>
                            <mat-form-field appearance="fill">
                                <mat-label>Логин</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Пароль</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div>
                            <h4>О пользователе:</h4>
                            <mat-form-field appearance="fill">
                                <mat-label>Комментарий</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Должность</mat-label>
                                <mat-select>
                                    <mat-option value="">Преподаватель</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Отделение</mat-label>
                                <mat-select>
                                    <mat-option value="">Администрация</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Роль</mat-label>
                                <mat-select>
                                    <mat-option value="">Заявитель</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <button mat-raised-button style="float: right;">Сохранить</button>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>