
mat-card{
    min-width: 30vh;
    background-color: #eae9f5;
}

mat-form-field {
    width: 100%;
}

mat-card-actions {
    
    display: flex;
    justify-content: center;
}

mat-progress-bar {
    bottom: 0;
    position: absolute;
}

.authorization {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    position: relative;
    top: 20%;
}

.authorization-card {
    width: 30vw;
    height: 35vh;
}

.authorization-card-content {
    margin-left: 2vh;
}