textarea{
    resize: none; 
    height: 10vh;
}

mat-card {
    background-color: #dfe9f3;
    width: 30vw;
    height: 40vh;
}

mat-form-field {
    width: 100%;
}

mat-card-actions {
    display: flex;
    justify-content: center;
}

mat-progress-bar {
    bottom: 0;
    position: absolute;
}

mat-card-content {
    margin: 2vh 0;
}

.createApplication {
    display: flex;
    justify-content: center;
}

.autocomplete-image {
    vertical-align: middle;
    margin-right: 8px;
}