<div class="createApplication">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Создание заявки</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>Кабинет</mat-label>
                <mat-select [formControl]="selectedPlace">
                    <mat-option [value]="item.id" *ngFor="let item of places">
                        <span *ngIf="item.description == null">Кабинет - {{item.name}}</span>
                        <span *ngIf="item.description != null">{{item.description}} - {{item.name}}</span>
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Описание</mat-label>
                <textarea matInput [formControl]="desription" placeholder="" style="height: 10vh;" maxlength="255" style="resize: none; height: 10vh;"></textarea>
                <mat-hint align="end">{{desription.value.length}} / 255</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Заявитель</mat-label>
                <input matInput placeholder="Электронная почта" type="declarator" [value]="fullPersonName" disabled>
                <button matSuffix mat-icon-button aria-label="Clear" disabled>
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <!-- <mat-form-field >
                <mat-label>Отправитель</mat-label>
                <mat-select>
                    <mat-option [value]="item.id" *ngFor="let item of places">
                        <span *ngIf="item.description == null">Кабинет - {{item.name}}</span>
                        <span *ngIf="item.description != null">{{item.description}} - {{item.name}}</span>
                    </mat-option>
                </mat-select>
            </mat-form-field> -->
            <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button [disabled]="selectedPlace.hasError('required') || desription.hasError('required')" (click)="sendApplication()">Отправить</button>
        </mat-card-actions>
        <mat-card-footer>
            <mat-progress-bar mode="query" *ngIf="false"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>
</div>