@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.classicSnackBar {
    background-color: #9cb2e0;
    color: black;  
}

.mat-simple-snackbar-action {
    color: black;
}